* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

html {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
    margin-block: 1rem;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding-inline: 1em;
}

.navbar__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar {
    background-color: #CA5A1B;
}

.navbar__left {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:visited {

}

.navbar .isActive {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 0.15em;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.login-form input {
    color: black;
    margin-top: 1em;
    padding: 0.5em 1em;
}

.login-form button {
    color: black;
    margin-top: 1em;
    padding: 0.5em 1em;
}

.item {
    margin-left: 1.5em;
    text-transform: capitalize;
}

.item a {
    padding-left: 1em;
}